<a href="https://colab.research.google.com/github/Jennapa-colab/DWDM21/blob/main/Chapter6_Associationn_Rules_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import pandas as pd

In [48]:
from google.colab import drive 
drive.mount('/content/drive')
path = '/content/drive/My Drive/DWDM2021_DATA'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [50]:
data = pd.read_csv(os.path.join(path,'reduced_marketbasket.csv'),encoding='latin1')  # ไฟล์ที่เราต้องการ

In [51]:
data

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

#[Q] มีประเทศสาขาของ supermarket นี้ทั้งหมดกี่ประเทศ

In [52]:
set(data['Country'])

{'Australia',
 'Austria',
 'Bahrain',
 'Belgium',
 'Brazil',
 'Canada',
 'Channel Islands',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'EIRE',
 'European Community',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hong Kong',
 'Iceland',
 'Israel',
 'Italy',
 'Japan',
 'Lebanon',
 'Lithuania',
 'Malta',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'RSA',
 'Saudi Arabia',
 'Singapore',
 'Spain',
 'Sweden',
 'Switzerland',
 'USA',
 'United Arab Emirates',
 'United Kingdom',
 'Unspecified'}

In [53]:
len(set(data['Country']))#ดูว่ามีสมาชิกกี่ตัว

38

##HW13] วาดกราฟสรุปจำนวน items และ ยอดขายของแต่ละประเทศ

In [54]:
from matplotlib import pyplot as plt
import numpy as np

In [55]:
Quantity_1 = data['Quantity']
Quantity_1

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64

In [56]:
Quantity_sum = sum(Quantity_1)  #sum ค่า Quantity
Quantity_sum

5176450

In [57]:
sales = Quantity_1*data['UnitPrice']  #หายอดขายของแต่ละประเทศ
sales

0         15.30
1         20.34
2         22.00
3         20.34
4         20.34
          ...
541904    10.20
541905    12.60
541906    16.60
541907    16.60
541908    14.85
Length: 541909, dtype: float64

In [59]:
import numpy as np
labels = ['G1', 'G2', 'G3', 'G4', 'G5']
sales = [15.30,20.34,22.00,20.34,20.34]
Country = [0,1,2,3,4]