<a href="https://colab.research.google.com/github/Jennapa-colab/DWDM21/blob/main/Data_Preprocessing(chapter_3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os

In [ ]:
path = '/content/drive/My Drive/DWDM2021_DATA'
data_cases = pd.read_csv(os.path.join(path,'confirmed-cases.csv'))
data_cases

             No. announce_date  ... province_of_onset district_of_onset
0            1.0     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2.0     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3.0     22/1/2020  ...            นครปฐม             เมือง
3            4.0     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5.0     24/1/2020  ...     กรุงเทพมหานคร               NaN
...          ...           ...  ...               ...               ...
543301  543302.0     28/7/2021  ...        สุพรรณบุรี               NaN
543302  543303.0     28/7/2021  ...        สุพรรณบุรี               NaN
543303  543304.0     28/7/2021  ...        สุพรรณบุรี               NaN
543304  543305.0     28/7/2021  ...           ปัตตานี               NaN
543305       NaN           NaN  ...               NaN               NaN

[543306 rows x 11 columns]

Meta Data (Data ที่ใช้อธิบาย Data)

Quiz 3 ให้หาว่า การทำ dropna() ทำให้ข้อมูลหายไปกี่ %

size before drop = 1000
size after drop = 10
we loss 99% of data

In [ ]:
after = data_cases.shape[0] - data_cases.dropna().shape[0]
after

157663

In [ ]:
data_af = (after/data_cases.shape[0])*100
data_af

29.019189922437818

Handling Misiing Value 1.5 (ลบค่า missing เฉพาะในคอลัมม์ที่เราสนใจออกไป)

In [11]:
data_cases_nomissingAge = data_cases.dropna(subset=['age']) #ลบเฉพาะในที่ไม่มี age

Quiz 3.1 ให้หาว่าการทำ dropna() แบบเลือก drop เฉพาะคอลลัมม์ที่เราสนใจ (age) ทำให้ข้อมูลหายไปกี่ %

In [14]:
removed = data_cases_nomissingAge.shape[0] - data_cases.dropna().shape[0]
print(f'size before drop = {data_cases_nomissingAge.shape[0]}')
print(f'size after drop = {data_cases_nomissingAge.dropna().shape[0]}')
print(f'we lost {100*(removed/data_cases_nomissingAge.shape[0])}% of data')

size before drop = 491048
size after drop = 385643
we lost 21.465314999755623% of data